
<div class="col">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="C++">
      Empecé a programar C++ en 2016, motivado principalmente por querer aprender nuevos lenguajes, ya que hasta ese entonces solo había programado en Java y C#.
      Revisando entre archivo y archivo, encontré el primer proyecto completo que desarrollé en C++, el cual adjunto aquí como nota de color.
      No comencé a explorar mucho el lenguaje hasta 2017, año que ingreso a la facultad.
      En 2018, participé en el TAP y el TecnoMate, dos torneos de programación en C/C++
      <mat-tab-group class="header-start" animationDuration="0ms">
        <mat-tab label="MathHope">
          2017
        </mat-tab>
        <mat-tab label="LinkedArrays">
          2017
        </mat-tab>
        <mat-tab label="OpenGL (3D)">
          2018
        </mat-tab>
        <mat-tab label="OpenGL (Base)">
          2018
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="C#">
      <div>
        Mis primeros acercamientos a C# fueron a lo largo de 2015 y 2016.
        Lo utilizaba para explorar GameEngines como Unity o Unreal, aunque la primera vez que me metí de lleno al lenguaje fué para Modear juegos.
        En la Global Game Jam de 2017, desarrollé junto a 2 compañeros mi primer juego hecho en Unity, programado en C#.
        De ahí en más, he utilizado C# exclusivamente para el desarrollo en Unity
        <mat-tab-group class="header-start" animationDuration="0ms">
          <mat-tab label="Space Latino">
            2016
          </mat-tab>
          <mat-tab label="El Ferné">
            2017
          </mat-tab>
          <mat-tab label="No Signal">
            2018
          </mat-tab>
          <mat-tab label="Reality Wars">
            2018
          </mat-tab>
          <mat-tab label="Pelado Warfare">
            2019
          </mat-tab>
          <mat-tab label="Los Cabezones">
            2019
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>
    <mat-tab label="Java">
      <div>
        Empecé a programar Java en 2012, dentro de la comunidad de Bukkit (ahora Bukkit/Spigot), el cual es la api detrás de los servidores de Minecraft.
        Me enfoqué en el desarrollo de plugins hasta finales de 2015. Además de los plugins, aprendí a usar JSwing, aunque he usado muy poco el lenguaje desde entonces.
        <mat-tab-group class="header-start" animationDuration="0ms">
          <mat-tab label="Man Vs Machine">
          </mat-tab>
          <mat-tab label="Omega Network">
            <ul>
              <li>LootCraft</li>
              <li>LootTops</li>
              <li>LootRecoveryMode</li>
            </ul>
          </mat-tab>
          <mat-tab label="Cryption">
          </mat-tab>
          <mat-tab label="RubiKraft">
          </mat-tab>
          <mat-tab label="Abduction">
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>
    <mat-tab label="Typescript">
      <div>
        Typescript es de los lenguajes que hace menos tiempo conozco. Mis primeros proyectos en typescript fueron al inicio de 2019, y aún no tengo nada publicado en el lenguaje.
        <mat-tab-group class="header-start" animationDuration="0ms">
          <mat-tab label="Avisos Entre Ríos">
          </mat-tab>
          <mat-tab label="Ceich">
          </mat-tab>
          <mat-tab label="Esta misma página">
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>
    <mat-tab label="SQL">
      <div>
        MySQL me ha ido acompañando desde que empecé a hacer plugins hasta en mis últimos proyectos. Hasta ahora, he utilizado MySQL en Java, C# y NodeJS/TS.
      </div>
    </mat-tab>
  </mat-tab-group>
</div>